* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    font-family: 'segoe ui';
  background-color: #f9f9f9;
    
  }
  button:hover {
    background: #154070; /* Updated background color on hover */
    transform: scale(1.05); /* Scale up slightly on hover */
  }
  .nav {
    height: 60px;
    width: 100%;
    background-color: #015fac;
    position: relative;
    padding: 0 30px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 23px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }

.hero{
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.left{
  width: 100%;
  height: 100%;
  padding: 50px 50px 0 90px;
  

}
.rigth{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.left h1{
  font-size: 80px;
}
.left p{
  font-size: 35px;
  margin-top: 50px;
}
.left button{
  background: #1D4E89;
  color:white;
  padding: 15px;
  width:160px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 50px;
}
.left button:hover{
  background-color: #eee;
  color: #154070;
  border: 2px solid #154070;
}
.rigth img{
  max-width: 450px;
}

/*!  the project section  */
.project{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project h1{
  font-size: 50px;
  letter-spacing: 6px;
}
.project-card-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project-card {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  margin: 30px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.project-card:hover {
  transform: scale(1.1); /* Scale up by 10% */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card h1 {
  font-size: 24px;
  margin: 10px 0;
  letter-spacing: 2px;

}

.project-card p {
  font-size: 16px;
  color: #666;
}

.project-btn button{
  background: #1D4E89;
  color:white;
  padding: 15px;
  width:160px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 50px;
  font-weight: 500;
}
.project-btn button:hover{
  background-color: #eee;
  color: #154070;
  border: 2px solid #154070;
}

/*!   the about section -----------*/

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("Image/about.png"); /* Background image URL */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 30px;
  background-position: center;
}

.about-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Apply blur filter */
  color: white; /* Set text color to white */
  padding: 3%;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 3px;
}

.about p {
  font-size: 30px;
  line-height: 50px;
  padding: 20px;
  border-radius: 10px;
}






@media(max-width:1319px){
  .left3 p{
    font-size: 24px;
  }
}
@media(max-width:1282px){
  .left3 p{
    font-size: 23px;
    padding:0px 80px 0px 80px ;

  }
}
@media(max-width:1202px){
  .left3 p{
    font-size: 23px;
    padding:0px 60px 0px 60px ;

  }
}
@media(max-width:1098px){
  .left3 p{
    font-size: 22px;
    padding:0px 60px 0px 60px ;

  }
}
@media(max-width:1033px){
  .left3 p{
    font-size: 21px;
  padding:0px 60px 0px 60px ;

  }
}
@media(max-width:1300px){
  .left h1 {
    font-size:70px ;
  }
  .left p{
    font-size: 30px;
  }
  .hero{
    height: 100%;
  }
}
@media(max-width:1000px){
    .hero {
      display: flex;
      flex-direction: column;
    }
    .left{
      margin-bottom: 100px;
    }
    .project-card-section{
      display: block;
    }
    .about-content{
      padding: 6%;
    }
}
@media(max-width:470px){
  .rigth img{
    max-width: 350px;
  }
  .left{
    padding: 40px;
  }
}

  @media (max-width:650px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .left h1 {
      font-size:50px ;
    }
    .left p{
      font-size: 25px;
    }
    .left button{
      font-size: 15px;
      width: 140px;
    }
    .about-content{
      padding: 5px;
    }
    .about-content p{
      font-size: 20px;
    }
}

/* the contact us section  */
.contact {
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 8%;
  text-align: center;
}
.container .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}
.row section.col {
  display: flex;
  flex-direction: column;
}
.row section.left {
  flex-basis: 35%;
  min-width: 320px;
  margin-right: 60px;
}
.row section.right {
  flex-basis: 60%;
}
section.left .contactTitle h2 {
  position: relative;
  font-size: 28px;
  color: #000000;
  display: inline-block;
  margin-bottom: 25px;
}
section.left .contactTitle h2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #000000;
  top: 120%;
  left: 0;
}
section.left .contactTitle h2::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  background-color: dodgerblue;
  top: calc(120% - 1px);
  left: 0;
}
section.left .contactTitle p {
  font-size: 17px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 22px;
}
section.left .contactInfo {
  margin-bottom: 16px;
}
.contactInfo .iconGroup {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}
.iconGroup .icon {
  width: 45px;
  height: 45px;
  border: 2px solid dodgerblue;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}
.iconGroup .icon i {
  font-size: 20px;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iconGroup .details span {
  display: block;
  color: #000000;
  font-size: 18px;
}
.iconGroup .details span:nth-child(1) {
  text-transform: uppercase;
  color: #000000;
}
section.left .socialMedia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 22px 0px 20px;
}
.socialMedia a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  border-radius: 5px;
  background-color: dodgerblue;
  transition: 0.4s;
}
.socialMedia a i {
  color: #000000;
  font-size: 18px;
  line-height: 35px;
  border: 1px solid transparent;
  transition-delay: 0.4s;
}
.socialMedia a:hover {
  transform: translateY(-5px);
  background-color: #f5f5f5;
  color: dodgerblue;
  border: 1px solid dodgerblue;
}
.socialMedia a:hover i {
  color: dodgerblue;
}

/* Code for the right section (column) */

.row section.right .messageForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.row section.right .inputGroup {
  margin: 18px 0px;
  position: relative;
}
.messageForm .halfWidth {
  flex-basis: 48%;
}
.messageForm .fullWidth {
  flex-basis: 100%;
}
.messageForm input,
.messageForm textarea {
  width: 100%;
  font-size: 18px;
  padding: 2px 0px;
  background-color: #f5f5f5;
  color: #333;
  border: none;
  border-bottom: 2px solid #666;
  outline: none;
}
.messageForm textarea {
  resize: none;
  height: 220px;
  display: block;
}
textarea::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  border-radius: 15px;
}
.inputGroup label {
  position: absolute;
  left: 0;
  bottom: 4px;
  color: #000000;
  font-size: 18px;
  transition: 0.4s;
  pointer-events: none;
}
.inputGroup:nth-child(4) label {
  top: 2px;
}
.inputGroup input:focus ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:valid ~ label {
  transform: translateY(-30px);
  font-size: 16px;
}
.inputGroup button {
  padding: 8px 16px;
  font-size: 18px;
  background-color: dodgerblue;
  color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
.inputGroup button:hover {
  background-color: #f5f5f5;
  color: dodgerblue;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid dodgerblue;
}
@media (max-width: 1100px) {
  .messageForm .halfWidth {
    flex-basis: 100%;
  }
}
@media (max-width: 900px) {
  .container .row {
    flex-wrap: wrap;
  }
  .row section.left,
  .row section.right {
    flex-basis: 100%;
    margin: 0px;
  }
}
