* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    font-family: 'segoe ui';
  background-color: #f9f9f9;
    
  }
  button:hover {
    background: #154070; /* Updated background color on hover */
    transform: scale(1.05); /* Scale up slightly on hover */
  }
  .nav {
    height: 60px;
    width: 100%;
    background-color: #015fac;
    position: relative;
    padding: 0 30px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 23px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }

.hero{
  height: 90vh;
  display: flex;
  justify-content: space-between;
}
.left{
  width: 100%;
  height: 100%;
  padding: 50px 50px 0 90px;
  

}
.rigth{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.left h1{
  font-size: 80px;
}
.left p{
  font-size: 35px;
  margin-top: 50px;
}
.left button{
  background: #1D4E89;
  color:white;
  padding: 15px;
  width:160px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 50px;
}
.left button:hover{
  background-color: #eee;
  color: #154070;
  border: 2px solid #154070;
}
.rigth img{
  max-width: 450px;
}

/*!  the project section  */
.project{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project h1{
  font-size: 50px;
  letter-spacing: 6px;
}
.project-card-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project-card {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  margin: 30px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.project-card:hover {
  transform: scale(1.1); /* Scale up by 10% */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card h1 {
  font-size: 24px;
  margin: 10px 0;
  letter-spacing: 2px;

}

.project-card p {
  font-size: 16px;
  color: #666;
}

.project-btn button{
  background: #1D4E89;
  color:white;
  padding: 15px;
  width:160px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 50px;
  font-weight: 500;
}
.project-btn button:hover{
  background-color: #eee;
  color: #154070;
  border: 2px solid #154070;
}




@media(max-width:1300px){
  .left h1 {
    font-size:70px ;
  }
  .left p{
    font-size: 30px;
  }
  .hero{
    height: 100%;
  }
}
@media(max-width:1000px){
    .hero {
      display: flex;
      flex-direction: column;
    }
    .left{
      margin-bottom: 100px;
    }
    .project-card-section{
      display: block;
    }
}
@media(max-width:470px){
  .rigth img{
    max-width: 350px;
  }
  .left{
    padding: 40px;
  }
}

  @media (max-width:650px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .left h1 {
      font-size:50px ;
    }
    .left p{
      font-size: 25px;
    }
    .left button{
      font-size: 15px;
      width: 140px;
    }
}

